asgiref==3.11.1
attrs==26.1.0
autobahn==26.6.1
Automat==25.4.16
cbor2==6.1.2
cffi==2.0.0
channels==4.3.2
constantly==23.10.4
cryptography==49.0.0
daphne==4.2.2
Django==6.0.6
django-cors-headers==4.9.0
django-jazzmin==3.0.4
djangorestframework==3.17.1
drf-spectacular==0.29.0
hyperlink==21.0.0
idna==3.18
Incremental==24.11.0
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
msgpack==1.2.0
packaging==26.2
pillow==12.2.0
pycparser==3.0
pyOpenSSL==26.3.0
PyYAML==6.0.3
referencing==0.37.0
rpds-py==2026.5.1
service-identity==26.1.0
sqlparse==0.5.5
Twisted==26.4.0
txaio==25.12.2
typing_extensions==4.15.0
tzdata==2026.2
ujson==5.13.0
uritemplate==4.2.0
zope.interface==8.5
